.distributor {
    padding: 20px
}
.distributor-name {
    font-family: 'Courier New', Courier, monospace;
}
.distributor-retailer {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}